html, body {
  font-family: "Montserrat Alternates", sans-serif;
  font-size:14px;
  margin: 0 auto;
  min-height: 550px;
  max-width: 384px;
  height: 500px;
  width: 384px;
  position: relative;
  overflow: hidden;
}
body {
  background-color: #dccfba;
  border: 3px solid black;
}

h1 {
  font-size:22px;
  font-weight: 400;
  margin:0;
}
a:link, a:visited {
  color:#000;
  outline:0;
  text-decoration: none;
}
.modal-header > span > img {
  height:30px ;
  width: auto;
}

.modal-header {
  display: flex;
  justify-content: space-evenly;
  border: none;

}
.modal-content {
  padding:5px 5px;
  margin: 0 auto;
  border: none;
  max-width: 350px;
  background-color: #dadada;
}
.modal-icons{
  height:50px;
  width:100%;
  background-color: #dccfba;

}
.modal-icons > .flex-container > .flex >a >img{
  height:30px;
  width:80%;
}
.btn.btn-outline-primary {
  height:60px;
  width: 33%;
  padding: 5px;
}
.btn.btn-outline-primary:nth-of-type(2),.btn.btn-outline-primary:nth-of-type(3) {
  padding: 15px 0;
}

.btn-check:checked+.btn-outline-primary{
  background-color: #9c847c;
}
.btn.btn-outline-primary:active, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:hover {
background-color: #9c847c; 
color:#fff;
border-color:#9c847c;
}
.btn-check:checked+.btn-outline-primary:focus {
  box-shadow: none;
}
.btn-outline-primary {
  background-color: white;
  color: #9c847c;
  border-color: #9c847c;
}
.btn-check:checked+.btn-outline-primary{
  border-color:#9c847c;
  box-shadow: none;
}
.modal-icons {
  position: absolute;
  bottom: 0;
  background-color: #dccfba;

}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  margin: 5px;

}
.flex {
  display: flex;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  width: 120px;
}
.flex i {
  font-size:30px;
}
.info-container {
  background-color: #00564d;
  height: 350px;
}
.modal-body{
  max-height: 400px;
  overflow-y: scroll;
  background-color: #fff;
  scroll-behavior: smooth;
}
.bg-secondary{
  background-color: beige;
}

